body {
	background-image: url(../assets/images/RCBCbackgroundHalf.png);
	/*background-size: contain;  this should work, it did before we altered the image hight, the following css works but distorts our text*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

h1 {
	font-family: "News Cycle", sans-serif;
	font-size: 450px;
}

#wrapper {
	margin-top: 20%;
	margin-left: 5%;
	margin-right: 6%;
}

.card-content {
  font-family: 'Raleway', sans-serif;
}

.card-title {
  font-family: 'Raleway', sans-serif;
}

#map {
	height:400px;
}

#modal {
	display: block;
	margin-bottom: .85em;
}

p {
	font-size: 20px;
	margin-bottom: 20px;
}

.card-content {
	background-color: #ffffff;
}
