body {
	background-color: #feecdf;
	background-image: url(../assets/images/RCBCbackgroundHalf.png);
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
}
h1 {
	font-family: "News Cycle", sans-serif;
	font-size: 450px;
}

#wrapper {
	margin-top: 20%;
	margin-left: 5%;
	margin-right: 6%;
}

.card-content {
  font-family: 'Raleway', sans-serif;
}

.card-title {
  font-family: 'Raleway', sans-serif;

}

#map{
	height:400px;
}

p {
	font-size: 20px;
}
